
.well-border {
    width: 1.8rem;
    height : 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0.1rem;
}

.well__base{
    width : 1.5rem;
    height : 1.5rem;
    font-size: 0.75rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.well__base:hover {
    background-color: #c3cfe1;
    font-weight: bold;
    color: #000;
}

.well__base--selected {
    background-color: #466688;
    color: #fff;
}

.well__rect_selection{
    background-color: #b65741;
    color: #fff
}

.well__selected:hover {
    font-weight: bold;
}