

.submission__items__container {
    max-height :  calc(100vh - 2rem - 145px);
    overflow-y: scroll;
    padding-bottom: 4rem;
  }

.submission__item__container {
    font-size: 0.85rem;
    background-color :#fafafa;
    cursor: default;
    border-radius: 0.25rem;
    margin-top : 0.8rem;
    padding-left : 0.5rem;
}
.submission__item__container:hover {
    background-color :#fff;
    transition-property: background-color;
    transition-duration: 400ms;
}

.submission__header__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
   
  }

.submission__header__upper-container {
    display: flex;
    flex-direction: column;
    min-height : 120px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 5px;
    position: relative;
  }