

.menu_item_header{
    font-size: 0.85rem;
    font-weight: 550;
    padding-left: 0.2rem;
    padding-top : 0.3rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.5px darkgrey solid;
}

.menu_item{
    background-color: #fff;
    font-size: 0.83rem;
    border : none;
    margin : 0.1rem;
    border-radius: 3px;
    font-weight: 500;
}

.menu_item_text {
    text-align: left;
    min-width: 5rem;
    max-width: 40%;
}
.menu_item_description {
    margin-left: 0.7rem;
    text-align: right;
    font-size: 0.75rem;
    opacity: 0.85;
    max-width: 50%;
}

.menu_item_description__active{
    color : #fff
}

.menu_item:hover{
    background-color: #efefef;
    color : #466688;
    /* font-weight: 500; */
}

.menu_item__active{
    color : #000;
    background-color: #efefef;
    margin-left: 7px;
}

.menu_item__selected{
    border-left: 2px solid #466688;
    margin-left: 5px;
    border-radius: 0;
    /* background-color: #62b58a;
    color : #fff; */
   /* font-weight: 500; */
    /* background-color: cadetblue; */
}



.default_bp_menu .bp5-menu {
    min-width: 700px;
}