
.close-div::after{ 
  display: inline-block;
  font-size: 1rem;
  margin-left: 3px;
  content: "\00d7"; /* This will render the 'X' */
}


.close-div:hover{
    color : rgb(139, 22, 22)
}

.reduce-div::after{ 
  display: inline-block;
  font-size: 1rem;
  margin-left: 3px;
  content: "-"
}


.reduce-div:hover{
    color : white
}

.increase-div::after{ 
  display: inline-block;
  font-size: 1rem;
  margin-left: 3px;
  content: "+"; /* This will render the '+' */
}


.increase-div:hover{
    color : white
}

.add-div::after{
  display: inline-block;
  font-size: 1rem;
  margin-left: 3px;
  content: "\002B"; 
  
}

.add-div:hover{
  color : white
}



.unit-div::after{ 
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 3px;
  content: "\25BC"; /* This will render the chevron */
}


.unit-div:hover{
    color : white
}