
/* General */
.router-link {
    color:#696969;
    text-decoration: none;
    margin : 0px;
    padding: 0px;
    outline: none 
}

.router-link:hover {
    color:#696969;
    text-decoration: none;
}

.cursor--default {
    cursor: default
}

.div--round {
    border-radius: 0.3rem;
}

.div-border-bottom {
    border-bottom: #696969 1px solid;
}

.div--expand{
    height : 100%;
    width : 100%;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

/* Paragraphs & headings */
p{
    font-family: "Linotype Univers W01", Helvetica, Arial, sans-serif;
}

h3 {
    margin-top : 0.0rem;
    margin-bottom: 0.2rem;
    padding : 0rem;
}
h4 {
    margin-top : 0.0rem;
    margin-bottom: 0.2rem;
    padding : 0rem;
}

/* Background containers */

.bg--grey {
    background-color: #efefef;
}

.bg--lightgrey {
    background-color: #fafafa;
}

.bg--white{
    background-color: #ffffff;
}

.no-scroll {
    overflow: hidden;
}

/* Font Sizes */

.font-size--smallest {
    font-size: 0.6rem;
}
.font-size--small {
    font-size: 0.7rem;
}

.font-size--large {
    font-size: 1.0rem;
}

.font-size--largest {
    font-size: 2rem;
}

.font-color--red {
    color: #b66476;
}


.font-weight--bold{
    font-weight: bold;
}


.font--monospace{
    font-family: 'Courier New', Courier, monospace;
}

/* Spans */

.h0-span {
    font-weight: bolder;
    color: #696969
}

.h1-span {
    font-weight: bolder;
    color: #9db58a;
  }

.h2-span {
    font-weight: bolder;
    color: #466688;
  }

.h3-span {
    font-weight: bolder;
    color: #b62444;
}


/* Headers */ 

.main-header {
    font-size: 4rem;
    color : #466688;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/* Paddings */
.padding--little {
    padding : 0.2rem
}
.padding--medium {
    padding : 0.5rem
}

.intent-padding-right--little {

    padding-right: 0.75rem;
}

.intent-padding-top--little {

    padding-top: 0.75rem;
}


.intent-padding-bottom-top--smallest {

    padding-top: 0.3rem;
}

.intent-padding-bottom--smallest {

    padding-bottom: 0.15rem;
}
/* Margins */

.margin--little {
    margin : 0.2rem
}
.margin--very-little{
    margin : 0.1rem
}
.margin--medium {
    margin : 1rem
}
.margin-top-bottom--medium {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.margin-top-bottom--little {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.margin-top-bottom--smallest {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.intent-margin-left {
    margin-left: 2rem;
}
.intent-margin-right {
    margin-right: 2rem;
}
.intent-margin-right--little {
    margin-right: 0.5rem;
}
.intent-margin-left--little {
    margin-left: 0.5rem;
}
.intent-margin-bottom{
    margin-bottom: 2rem;
}
.intent-margin-top{
    margin-top: 2rem;
}
.intent-margin-top--medium {
    margin-top: 1.0rem;
}
.intent-marign-left--little{
    margin-left : 0.7rem
}
.intent-marign-left--medium{
    margin-left : 0.7rem
}
.intent-margin-top--little {
    margin-top: 0.7rem;
}
.intent-margin-bottom--little {
    margin-bottom: 0.7rem;
}
.intent-margin-bottom--medium {
    margin-bottom: 1rem;
}


/* Containers */

.dialog__container{
   
    height : 100%;
    width : 100%;
    margin-top : 1rem;
    margin-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
}

/* Dashboard grid */ 

.dashboard__grid {
    display:  grid;
    height : 100vh;
    width : 100vw;
    grid-template-columns: min-content 1fr 3fr 1fr;
    grid-template-rows: min-content 1fr 3fr 1fr;
  }

.dashboard__grid__left {
    grid-column: 1;
    grid-row-start : 2;
    grid-row-end : 5;
  }
.dashboard__grid__fill-center {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #efefef;
    padding-left: 1rem;
    padding-right: 0rem;
    overflow-y: scroll;
  }

.dashboard__grid__top-row{
    grid-row : 1;
    grid-column-start: 1;
    grid-column-end: 5;
  }


.dashboard__grid__help--topright {
    position: absolute;
    right : 1rem;
    top : 3rem;
    max-width : 20vw;
}


.accordions__header{
    display: flex;
    font-size: 1.7rem;
    color : #466688;
    background-color: #fafafa;
}
.accordions__header:hover{
    background-color: #f6f6f6;
}

/* Flex containers */

.flex {
    display:  flex;
}

.flex--wrap {

    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}
.flex-start{
    justify-content: flex-start;
}

.justify-flex-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.center-items {
    align-items: center;
}



.position--relative{
    position: relative;
}

/* shadows */
.mild-shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}


/* scrolls */

.container--scroll-y-hide-x{
    overflow-y: scroll;
    overflow-x: hidden;
}